---
layout: download_clean.swig
isHome: true
---
<!-- <div class="doc-home-title text-center">
    {% if node=='qcloud' %}
    <h1 class="font-logo">Tencent App Builder Documentation</h1>
    <h4>TAB 移动开发工具由腾讯云、LeanCloud 联合推出，开发文档由 LeanCloud 提供。</h4>
    <div class="row"><a href="sdk_down.html">SDK 下载11</a></div>
    {% else %}
    <h1 class="font-logo">Documentation</h1>
    <form class="hero-search" role="search" action="/search.html" method="get">
      <div class="form-group">
        <input id="site-search" name="q" type="text" class="form-control input-lg" placeholder="&#xf17a 输入错误代码、关键字来搜索&hellip;">
      </div>
    </form>
    {% endif %}
</div> -->
<div class="toc-hack" style="display: none;">
  <ul>
  </ul>
</div>

<!-- .doc-home-title -->
<div style="height:100px;">
&nbsp;
  <div id="section-nav" class="scrollspy text-center  mobile-hide">
    <div class="spinner"></div>
    <ul class="nav">
    </ul>
  </div>
</div>

<!-- .toc-hack -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">REST API</h2>
    <div class="row">
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <h3>开发指南</h3>
        <ul class="list-unstyled">
          <li><a href="oauth2_provider.html">开放平台接入</a></li>
          <li><a href="storage_overview.html">开放平台业务总览</a></li>
          <li><a href="data_security.html">数据安全详解</a></li>
          <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
        </ul>
      </div>
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <h3>最佳实践</h3>
        <ul class="list-unstyled">
          <li><a href="weapp.html">在微信小程序中使用 LeanCloud</a></li>
          <li><a href="#" target="_blank">使用 OpenApi 与 React Native 构建原生应用</a></li>
        </ul>
        <h3>相关阅读</h3>
        <ul class="list-unstyled">
          <li><a href="faq_list.html">常见问题</a></li>
          <li><a href="error_code.html">错误码详解</a></li>
          <li><a href="rest_api.html">数据存储 REST API</a></li>
        </ul>
      </div>
      <!-- end of .section-content -->

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">广告业务</h2>
    <div class="row">
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <h3>开发指南</h3>
        <ul class="list-unstyled">
          <li><a href="start.html">SDK 安装</a></li>
          <li>
            <span>快速入门</span>
            <ul class="list-unstyled list-platform">
              <li><a href="leanstorage-started-android.html">Android</a></li>
              <li><a href="leanstorage-started-objc.html">Objective-C</a></li>
              <li><a href="leanstorage-started-js.html">JavaScript</a></li>
            </ul>
          </li>
          <li><a href="storage_overview.html">存储服务总览</a></li>
          <li><a href="data_security.html">数据安全详解</a></li>
          <li>权限管理使用指南
            <ul class="list-unstyled list-platform">
              <li><a href="acl_guide-android.html">Android</a></li>
              <li><a href="acl_guide-objc.html">Objective-C</a></li>
              <li><a href="acl_guide-js.html">JavaScript</a></li>
              <li><a href="acl_guide-python.html">Python</a></li>
            </ul>
          </li>
          {% if node!='qcloud' %}
          <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="section-content col-xs-12 col-sm-6 col-md-6">
        <h3>最佳实践</h3>
        <ul class="list-unstyled">
          <li><a href="https://blog.leancloud.cn/607/" target="_blank">自定义应用内用户重设密码和邮箱验证页面</a></li>
        </ul>
        <h3>相关阅读</h3>
        <ul class="list-unstyled">
          <li><a href="faq_list.html">常见问题</a></li>
          <li><a href="error_code.html">错误码详解</a></li>
          <li><a href="rest_api.html">数据存储 REST API</a></li>
        </ul>
      </div>
      <!-- end of .section-content -->

    </div>
    <!-- end of .row(nested) -->

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">效果统计</h2>
    

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">实时通信</h2>
    

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">消息推送</h2>
    <div class="row">
      

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">商业数据</h2>
    

  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->

<div class="row">
  <div class="section col-md-8 col-md-offset-2 col-xs-offset-0">
    <h2 class="section-title">其他</h2>
    
  </div>
  <!-- end of .section -->
</div>
<!-- end of .row(outermost) -->
