<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      OpenAPI
    </a>

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing.html">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/sdk_down.html">SDK下载</a></li>
      <li class="muted">·</li>
      <li><a href="/faq_list.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://spring-cloud.io" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="//status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://bbs.spring-cloud.io/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.spring-cloud.io/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/seagrape">文档源码</a></li>
    </ul>
  </div>
</footer>
